.btn-circle-up {
    border-radius: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: green;
}

.btn-circle-up-img {
    border-radius: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 30px;
    height: 30px;
 
}
